<div class="search-forms">
  <div class="forms">
    <h2>Find Coordinates</h2>
    <form>
      <div class="form-group">
        <label for="street">Street</label>
        <input type=street #street>
        <br>
        <label for="city">City</label>
        <input type=city #city>
        <br>
        <label for="state">State</label>
        <input type=state #state>
      </div>
      <button (click)="getLatLongByLocation(street.value, city.value, state.value)">Get Coordinates</button>
    </form>

    <div *ngIf="latLongResults">
      <hr>
      <p>Your lat/long: {{latitude}}, {{longitude}}</p>
    </div>
  </div>


  <div class="forms">
    <h2>Search for the Nearest Geocache</h2>
    <form>
      <div class="form-group">
        <label for="latitude">Latitude</label>
        <input type=latitude #cacheLat placeholder="{{latitude}}">
        <br>
        <label for="longitude">Longitude</label>
        <input type=longitude #cacheLong placeholder="{{longitude}}">
      </div>
      <button (click)="getListingsByLatLong(cacheLat.value, cacheLong.value)">View Neartest Listing</button>
      <button (click)="getAllListingsByLatLong(cacheLat.value, cacheLong.value)">View All Nearest Results</button>
    </form>

    <div *ngIf="cacheResults">
      <hr>
      <h3>Nearest Listing:</h3>
      <p><strong>Address:</strong> {{nearestListing?.formatted_address}}</p>
      <p><strong>Lat, Long:</strong> {{nearestListing?.geometry.location.lat}}, {{nearestListing?.geometry.location.lng}}</p>
      <button (click)="saveListing(nearestListing?.formatted_address, nearestListing?.geometry.location.lat, nearestListing?.geometry.location.lng)">Save This Listing</button>
    </div>

    <div *ngIf="allCacheResults">
      <hr>
      <h3>All Near Listings:</h3>
      <div *ngFor="let listing of listings">
        <p><strong>Lat, Long:</strong> {{listing?.geometry.location.lat}}, {{listing?.geometry.location.lng}}</p>
      </div>
    </div>
  </div>

</div>
